/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/public/documents/additionalcosts/*
/public/documents/cicsa/cicsaChargeAreaOrder/*
/public/documents/cicsa/cicsaPurchaseOrder/*
/public/documents/cicsa/cicsaServiceOrder/*
/public/documents/curriculum_vitae
/public/documents/permissions
/public/documents/documents
/public/documents/huawei
/public/documents/schedules
/public/documents/photoreports
/public/documents/providers_quote
/public/documents/purchaseorder
/public/documents/schedule
/public/documents/quote
/public/documents/fleetcar
/public/image/car
/public/image/profile
/public/image/checklist
/public/documentGestion
/public/image/imagereportpreproject
/public/uploads/huawei
/storage/*.key
/storage/app/Projects/
/storage/app/LocalDrive/
/vendor
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
*.zip
*.rar
/public/*.zip
